:root {
  --font-family: 'Poppins', sans-serif;
  --primary-color: #f90;
  --text-color: #2f281e;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #544837;
  margin: 0;


  button {
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #fff;
    border: none;
    background: var(--primary-color);
    padding: 11px 24px;
    border-radius: 4px;
  }

  .container {
    max-width: 1110px;
    width: 94%;
    margin: 0 auto;
  }
}

header {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    gap: 27px;
  }

  .buttons {
    display: flex;

    .transparent {
      background: transparent;
      border: 1px solid #bcd0e5 
      color: #bcd0e5;
      padding-block: 10px;
    }
  }
}

.hero {
  display: flex;

  .content {
    h2 {
      font-weight: 700;
      font-size: 44px;
      line-height: 123%;
      color: var(--text-color);
    }

    p {}
  }
}